a{
  color: lawngreen;
}
.maindiv{
width: fit-content;
max-height: 85vh;
position: absolute;
top: 50%;
left: 50%;
border: 2px solid cyan;
transform: translate(-50%, -50%);
border-radius: 30px;
padding: 10px;
}
table{
  border-spacing: 1rem;
  color: #00FFFF;
font-size: clamp(0.3rem, 3.2vw, 1.3rem);
}
th{
text-align: left;
}
td{
text-align: left;
}
h1{
  text-align: center; 
  color: lawngreen;
font-size: clamp(1rem, 4.2vw, 2rem);
}