body {
	color: grey;
}
a{
	text-decoration: none;
	color: lawngreen;
	font-size: clamp(0.3rem,3.5vw,1.3rem);
	cursor: pointer;
}
ul li{
	margin-left: 20px;
	margin-top: 5px;
}
.a{
	display: flex;
}
.ol ul li{
	color: grey;
	font-size: clamp(0.2rem,3.5vw,1.2rem)
}
.ol ol li{
	color: lightgrey !important;
	font-size:  clamp(0.2rem,3.5vw,1.2rem);
	margin-top: 0.2rem;
}
#disease{
	width: fit-content;
	border: 0.0001rem solid lawngreen;
	max-width: 400px;
	height:80vh;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
}
#disease li{
	cursor: pointer;
	list-style-type: none;
	border-bottom: 0.0001rem solid grey;
}
#header {
	border-bottom: 0.1rem solid lawngreen;
	color: lawngreen;
	text-align: center;
	font-size: clamp(0.5rem,3.5vw,2rem);
	position: sticky;
	top: 0;
}
.ol{
	text-transform: capitalize;
	padding: 0.4rem 1rem;
	height:90%;
	overflow-y: auto;
}
.div{
	display: none;
	height:100%;
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.paragraph{
	border: 1px solid #2370a5;
	padding: 10px;
	overflow-y: scroll;
	width: 90%;
	height: 85%;
	font-size: clamp(0.3rem,3vw,1.3rem);
	font-weight: 100;
	margin: auto;
}
th{
	color: lawngreen;
}
span{
	color: red;
}
table{
	border-collapse: collapse;
	text-align: justify;
}
.inner td , .inner th{
	border: 1px solid lawngreen;
}
.inner{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 4px 2px;
}
.table{
	border: 1px solid lawngreen;
	text-align: center;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
h2{
	font-size:  clamp(0.7rem,3.5vw,1.8rem);
	color: lawngreen;
	text-align: center;
	margin-bottom: 9px;
	margin: auto;
	text-transform: uppercase;
}
hr{
	border: 0;
	height: 0;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
p{
	color: lawngreen;
	font-weight: 600;
}
b{
	color: lightgrey;
}
.grid{
	display: grid;
    grid-template-columns: repeat(3,minmax(auto,250px));
    padding: 20px;
    grid-gap: 40px;
}
img{
	width: clamp(10rem,50vw,30rem);
}