*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container{
	position: absolute;
	min-height: 91vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}
.containertwo{
    position: relative;
	font-size: clamp(0.5rem,3.5vw,1rem);
}
.navbar{
	position: relative;
	width: 100%;
}
.nav-area {
	list-style: none;
	padding-top: 15px;
	text-align: center;
	padding-bottom: 10px;
}

.bt {
	color: lawngreen;
	padding: 0.2rem 0.6rem;
	font-family: courier;
	font-weight: 900;
	text-transform: uppercase;
	background-color: transparent;
    border: 2px solid transparent;
    cursor: pointer;
	font-size: clamp(0.8rem,8vw,2rem);
}
.bt:hover{
    border-bottom: 2px solid lawngreen;
}
.highlight {
    border-bottom: 2px solid lawngreen;
}
.containertwo .part{
    display: none;
    overflow-y: hidden;
	border: 2px solid lawngreen;
	border-radius: 35px;
	max-width: 700px;
	height: 500px;
	text-align: center;
    margin: auto;
	padding: 0 1rem;
}
.text{
	color: #04ff00;
	font-size: clamp(0.5rem,3.5vw,1.2rem);
	text-transform: uppercase;
}
.radio{
	font-size: clamp(0.5rem,3.5vw,1rem);
	color: black;
	background-color: #D3D3D3;
	border-radius: 15px;
	border: 2px solid #D3D3D3;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	outline: none;
	padding: 2px 10px;
}
#burn input[type="text"]{
	display: inline-flex;
	justify-content: space-around;
}
.input{
    border: 0;
	background: none;
	text-align: center;
	border: 2px solid #D3D3D3;
	width: clamp(4rem,10vw,5rem);
	outline: none;
	color: #D3D3D3;
	border-radius: 24px;
}
.rightFlow{
    float: right !important;
}
.leftFlow{
    float: left !important;
}
.nobr{
    border: 2px solid transparent !important;
}
.uline{
	border-bottom: 2px solid lawngreen;
}
#weightlift,#reps{
	border: 0;
	background: none;
	display: block;
	text-align: center;
	border: 2px solid #D3D3D3;
	padding: 0.3rem 0;
	width: 6rem;
	outline: none;
	color: #D3D3D3;
	border-radius: 24px;
}
.containertwo label{
	text-align: left;
}
p{
	font-weight: 100;
}
h2{
	width: fit-content;
}
table{
  border-collapse: separate;
  border-spacing: 0 0.5rem;
  color: #D3D3D3;
  text-transform: capitalize;
	margin-left: auto;
	margin-right: auto;
	padding: 0.8rem 0;
}
table tbody {
	display: block;
	max-height: 60vh;
	overflow-y: scroll;
	padding: 0.1rem;
}
table thead, table tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}
table tbody tr{
	border-bottom: 0.0001rem solid grey;
}
th{
    color: lawngreen;
}
