*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.container,.container2,.container3{
	width: 90%;
	min-height: fit-content;
	max-width: 700px;
	margin: 0 auto;
	font-size: clamp(0.2rem,3.5vw,1.2rem);
    text-align: center;
    padding: 0.5rem 0;
    color: #D3D3D3;
}
.ac_trigger, .ac_triggers,.n_trigger{
	display: block;
	color: #D3D3D3;
	font-size: clamp(0.2rem,3.5vw,1.2rem);
	color: #D3D3D3;
}
.ac_container,.n_container{
	margin-bottom: 1px;
	background-color: transparent;
	color: #D3D3D3;
}
.nutrients{
	display: none;
}
.ac_container{
	border: 2px solid white;
}
.n_container{
	padding: 2rem 0;
}
.ac_hide{
	position: absolute;
	opacity: 0;
	pointer-events: none;
}
.ac_hide:checked + .ac_container{
	height: auto;
}
.close {
  position: absolute;
  top: 1%;
  left: 1%;
  font-size: clamp(0.5rem,3.5vw,6rem);
  font-weight: bold;
  text-decoration: none;
  color: lawngreen;
  cursor: pointer;
}
.close:hover {
  color: #D3D3D3;
}
#btn,.btn{
	background: transparent;
	border-radius: 20px;
	padding: 0.1rem 0.3rem;
	cursor: pointer;
}
#btn{
	font-size: clamp(0.2rem,3.5vw,1rem);
    color: #D3D3D3;
	border: 1px solid white;
}
#btn:hover{color: black;background: white;}
.btn{
	font-size: clamp(0.2rem,3.5vw,1.5rem);
    color: lawngreen;
	border: 1px solid lawngreen;
}
.btn:hover{color: black;background: lawngreen;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: #D3D3D3;
  text-align: center;
  outline: none;
  width: clamp(0.2rem,10.5vw,6.2rem);
}
table{
	width: 100%;
}
table, th, td {
  border: 0.001rem solid grey;
  border-collapse: collapse;
  color: #D3D3D3;
}
th{
    color: lawngreen;
    text-transform: uppercase;
	font-size: clamp(0.2rem,3.5vw,1.2rem);
}
tr{
	border: 0;
}
th, td {
  padding: 0.3rem;
  width: 100%;
}
td {
  text-align: center;
}
a{
	text-decoration:  none;
	font-size: 18px;
}
.ancor:hover{
	cursor: pointer;
	background: grey;
	color: black !important;
}