*,body{
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #00FFFF;
	font-family: "montserrat";
}
html{
	scroll-behavior: smooth;
}
.container{
height: 200vh;
width: 100%;
text-align: center;
background: rgb(0,0,136);
background: radial-gradient(circle, rgba(0,0,136,1) 0%, rgba(0,0,0,1) 100%);
} 
.main{
	height: 100vh;
	width: 100%;
	display: flex;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.3)), url("/static/images/firstpage.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card{
width: 95%;
max-width: 30rem;
height: fit-content;
position: relative;
margin: auto;
padding: 15px 5px 20px 5px;
background-color: #000000b8;
color: #00FFFF;
font-size: 22px;
border-radius: 50px;
box-shadow: 0 0 30px #00FFFF;
}
.card #img{
	background-image: url("/static/images/icon.png");
	width: 21px;
	cursor: pointer;
	height: 21px;
	background-color: black;
	display: inline-block;
	background-size: cover;
	position: relative;
}
#tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}
#femalediv {
  visibility: hidden;
  color: #fff;
}
#bottom{
	color: red;
	font-size: 18px;
}
#bottom:hover{
	color: yellow;
	font-size: 20px;
}
table {
  border-collapse: separate;
  border-spacing: 0 15px;
}
td{
	margin: auto;
	border: 2px solid transparent;
	width: 50%;
}
h2{
font-size: 30px;
font-weight: 600;
padding-bottom:  30px;
}
.text{
text-align: left;
margin: 0 20px;
}
#age,#weight,#height,#rhr{
	border: 0;
	background: none;
	text-align: center;
	border: 2px solid #00FFFF;
	padding: 1px 5px;
	width: 130px;
	outline: none;
	color: #00FFFF;
	border-radius: 24px;
	font-size: 15px;
}
#btn{
	font-size: 25px;
	font-family: inherit;
	margin-top: 15px;
	border: none;
	color: #00ffff;
	background-color: transparent;
	border: 2px solid #00FFFF; 
	padding: 2px 20px;
	border-radius: 30px;
	outline: none;
	cursor: pointer;
}
#btn:hover{
	color: black;
	background-color: #00FFFF;
}
#unit,#bodytype{
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#cal{
	height: fit-content;
	width: 90%;
	max-width: 30rem;
	position: relative;
	margin:auto;
	align-items: center;
	text-align: center;
}
.converter-title{
	text-align: center;
	font-size: 30px;
	padding: 0;
}
.height, .weight{
	background-color: #000000b8;
	height: 20%;
	max-width: 30rem;
	width: 90%;
	border-radius: 30px;
	padding: 20px 10px;
}
#winput, #wresult, #hinput, #hresult{
	border-radius: 20px;
	background-color: transparent;
	width: 35%;
	border: 2px solid #00FFFF;
	color: cyan;
	text-align: center;
	outline: none;
}
#winputType, #wresultType, #hinputType, #hresultType{
	width: 35%;
	color: cyan;
	border: none;
	background-color: transparent;
	outline: none;
	border-bottom: 1px solid cyan;
	font-size: 20px;
}
#wresultType,#hresultType{
	margin-top: 20px; 
	margin-left: 30px;
}
::placeholder{
	color: cyan;
	opacity: 80%;
}
@media (max-width:600px) {
	*{
		font-size: 16px;
	}
	#winputType, #wresultType, #hinputType, #hresultType{
		width: 35%;
	}
}