li,.close{cursor: pointer;}
p{
	text-align: justify;
}
.cards{
	width: 100%;
	text-align: center;
	display: flex;
	text-decoration: none;
}
.col{
	min-height: 99vh;
	width: 100% ;
	overflow: hidden;
	padding: 0 1rem;
	border: 0.0001rem solid grey;
}
ol{
	list-style-type: none;
	color: lightgrey;
}
li{
	margin-bottom: 15px;
	font-size: clamp(0.3rem, 3.5vw, 1.2rem);
}
ol li a:hover{
	border-bottom: 00.0001rem solid lightgrey;
}
.h2{
	margin: 10px 0 20px 0;
}
.h2 a{
	padding-bottom: 0.2rem;
	color: lawngreen;
	font-size: clamp(0.5rem, 5.5vw, 1.5rem);
	border-bottom: 0.1rem solid lawngreen;
	font-weight: 600;
}
#nakshtrdiv, #nakshtrdiv li{
	text-align: right;
}
#rashidiv, #rashidiv li{
	text-align: left;
}
.text{
	display: none;
	width: 90%;
	min-height: 80vh;
	overflow: hidden;
	overflow-y: auto;
	max-height: 90vh;
	color: lightgrey;
	position: absolute;
	padding: 1rem;
	margin: auto;
	border: 2px solid lawngreen;
	border-radius: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.close {
  position: absolute;
  top: 10px;
  right: 1rem;
  transition: all 200ms;
  font-size: clamp(1.5rem, 3.5vw, 2rem);
  font-weight: bold;
  text-decoration: none;
  color: lawngreen;
}
.close:hover {
  color: cyan;
}
@media (max-width: 768px){
	.text{
		width: 100%;
	}
}