{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/disease.css' %}" />
    <title>asans_and_kriya</title>
    <style>
      .img {
        width: fit-content;
        margin: auto;
      }
      .img img {
        max-width: 50%;
      }
    </style>
    <script type="text/javascript">
      function show(id, elem) {
        document.getElementById(id).style.display = "block";
        elem.style.display = "none";
      }
      function hide(id, mine) {
        document.getElementById(id).style.display = "block";
        mine.style.display = "none";
      }
    </script>
  </head>
  <body>
    <div id="disease">
      <div id="header">SELECT</div>
      <div class="ol">
        <ul>
          <li class="mainli">
            ASANS
            <ol>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Advasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ardha Matsyendrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ardha Padma Pashchimotanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ardha Shalabhasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ardha Titali Asan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ardha Ushtrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Bakasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Bak Dhyanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Bhadrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Bhujangasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Chakrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Dhanura Akarshanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Dhanurasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Dhyana Veerasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Druta Halasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Dwikonasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Eka Hasta Bhujangasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Eka Pada Padmottanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Gatyatmak Paschimottanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Gatyatmic Meru Vakrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Gomukhasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Grivasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Halasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Hasta Utthanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Janu Sirshasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Jyestikasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Kandharasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Kati Chakrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Lolasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Marjariasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Matsyasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Meru Akarshanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Merudandasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Nauli
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Niralamb Paschimottanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Pada Hastasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Pada Prasar Paschimottanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Padma Sarvangasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Parivritti Janu Shirshasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Parvat-asan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Paschimottanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Poorna Titali Asan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Poorva Halasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Pranamasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Sarpasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Sarvangasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shalabhasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shashankasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shashank Bhujangasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shavasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shava Udarakarshanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shirshasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Siddhasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Supta Pawanmuktasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Supta Udarakarshanasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Supta Vajrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Tadasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Trikonasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Triyaka Bhujangasan:
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Triyaka Tadasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Uddiyana Bandhasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ustrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Utthan Pristhasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Vajrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Veerasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Veerbhadrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Vipreeta Karaniasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Vrikshasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Vyaghrasan
              </li>
              <li
                onclick="show('asan1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Yogamudrasan
              </li>
            </ol>
          </li>
          <br />
          <li class="mainli">
            PRANAYAMS
            <ol>
              <!-- <li>Basic Knowledge of Pranayam</li> -->
              <li
                onclick="show('1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Diaphragmic Breathing
              </li>
              <li
                onclick="show('2', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Anuloma Viloma
              </li>
              <li
                onclick="show('3', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Kapalbhati
              </li>
              <li
                onclick="show('4', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Suryabhedi
              </li>
              <li
                onclick="show('5', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Chandrabhedi
              </li>
              <li
                onclick="show('6', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ujjai
              </li>
              <li
                onclick="show('7', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Kapalbhati
              </li>
              <li
                onclick="show('8', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Bhastrika
              </li>
              <li
                onclick="show('9', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Nadi-Shodhan
              </li>
              <li
                onclick="show('10', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Hamsa Pranayam
              </li>
            </ol>
          </li>
          <br />
          <li class="mainli">
            KRIYAS
            <ol>
              <li
                onclick="show('kriya1', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Understanding Ida, Pingla and Sushumana
              </li>
              <li
                onclick="show('kriya2', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Eight Pattern Kriya/ Hamsa
              </li>
              <li
                onclick="show('kriya3', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Yoga Mudra
              </li>
              <li
                onclick="show('kriya4', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shakti Chalan in Subtle Body
              </li>
              <li
                onclick="show('kriya5', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Shambhavi or Lotus Visualization
              </li>
              <li
                onclick="show('kriya6', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Ha-Tha-Yoga-Shatkarm
              </li>
              <li
                onclick="show('kriya7', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Seven Practices
              </li>
              <li
                onclick="show('kriya8', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Asanas for Life force
              </li>
              <li
                onclick="show('kriya9', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Kriyas for Yauvan Tattva (Youthfulness)
              </li>
              <li
                onclick="show('kriya10', this.parentNode.parentNode.parentNode.parentNode.parentNode)"
              >
                Sushumana Movement
              </li>
            </ol>
          </li>
        </ul>
      </div>
    </div>
    <div class="div" id="asan1">
      <div class="a">
        <a
          style="font-size: 30px"
          onclick="hide('disease',this.parentNode.parentNode)"
          >&#129044;</a
        >
        <h2>Advasan (Reversed Corpse Pose)</h2>
      </div>
      <div class="paragraph">
        <table>
          <tr>
            <td>
              <div class="img">
                <img src="/static/images/icon.png" />
              </div>
              <b>Benefits:</b> Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Libero sequi cum, in modi unde minima provident!
              Similique, iure mollitia ducimus, eaque magnam dolor praesentium
              tempora molestiae voluptatum itaque ex velit? <br /><br /><b
                >contradictions</b
              >Lorem ipsum dolor sit amet consectetur adipisicing elit. Est
              nihil magni fuga ad ut? Minus perspiciatis minima sit quos, optio
              sunt tempora, tenetur est voluptatum inventore quae dolores
              reiciendis nesciunt! <br /><br /><b>spritual</b>Lorem ipsum dolor,
              sit amet consectetur adipisicing elit. Id sapiente voluptates
              doloribus eveniet laboriosam ipsam excepturi vero ratione hic
              nostrum quia velit blanditiis ad error sunt nesciunt, cum,
              consequatur perspiciatis?
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
