{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheet %}
    {% endblock %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title></title>
</head>
<body>
    <nav class="mainnavbar">
        <div class="nav-menu flex-row">
            <div class="nav-brand">
                <a href="#" class="text-gray">Nirvanasage</a>
            </div>
            <div class="toggle-collapse">
                <div class="toggle-icons">
                    <i class="bi bi-list"></i>
                </div>
            </div>
            <div>
                <ul class="nav-items">
                    {% block links %}
                    {% endblock %}
                </ul>
            </div>
            <div class="social text-gray">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </nav>
    <div class="contentdiv">
        {% block content %}
        {% endblock %}
    </div>
</body>
{% block script %}
{% endblock %}

</html>