{% extends 'navbar.html' %}
{% block stylesheet %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/body_output1.css' %}">
{% endblock %}
{% block links %}
<li class="nav-link">
	<a href="main_input">Home</a>
</li>
<li class="nav-link">
	<a href="body_output">Body</a>
</li>
<li class="nav-link">
	<a href="food">Food</a>
</li>
<li class="nav-link">
	<a href="exercise">Exercise</a>
</li>
<li class="nav-link">
	<a href="yoga">Yoga</a>
</li>
<li class="nav-link">
	<a href="natal">Natal</a>
</li>
<li class="nav-link">
	<a href="report">Report</a>
</li>
{% endblock %}
{% block content %}
		<div class="div">	<h1>BODY<h1>
			<table style="width: 100%">
				  <tr>
				  	<th>BMR</th>
				  	<td>:</td>
				  	<td>2756 Kcal</td>
				  </tr><tr>
				  	<th>BMI</th>
				  	<td>:</td>
				  	<td>123 moderate</td>
				  </tr><tr>
				  	<th>BODY FAT</th>
				  	<td>:</td>
				  	<td>12%</td>
				  </tr><tr>
				  	<th>BODY TYPE</th>
				  	<td>:</td>
				  	<td>Athlete</td>
				  </tr><tr>
				  	<th>MAXIMUM HEART RATE</th>
				  	<td>:</td>
				  	<td>185</td>
				  </tr><tr>
				  	<th>HEART RATE RESERVE</th>
				  	<td>:</td>
				  	<td>165</td>
				  </tr><tr>
				  	<th>WARM UP HEART RATE</th>
				  	<td>:</td>
				  	<td>172</td>
				  </tr><tr>
				  	<th>FAT BURNING HEART RATE</th>
				  	<td>:</td>
				  	<td>176</td>
				  </tr><tr>
				  	<th>AEROBIC HEART RATE</th>
				  	<td>:</td>
				  	<td>187</td>
				  </tr><tr>
				  	<th>ANAEROBIC HEART RATE</th>
				  	<td>:</td>
				  	<td>186</td>
				  </tr><tr>
				  	<th>VO2 MAX. HEART RATE</th>
				  	<td>:</td>
				  	<td>185</td>
				  </tr>
			</table>
		</div>
{% endblock %}