{% extends 'navbar.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/disease.css' %}">
{% endblock %}
{% block content %}	
    <div id="disease">
      <div id="header">SELECT</div>
      <div class="ol">
        <ol>
          <li style="font-size: 20px">Acidity</li>
          <li style="font-size: 20px">Asthma</li>
          <li style="font-size: 20px">Blood Pressure</li>
          <li style="font-size: 20px">Backache</li>
          <li style="font-size: 20px">Carpel Tunnel Syndrome</li>
          <li style="font-size: 20px">Cholesterol</li>
          <li style="font-size: 20px">Diabetes</li>
          <li style="font-size: 20px">Epilepsy</li>
          <li style="font-size: 20px">Gall Bladder</li>
          <li style="font-size: 20px">Heart Diseases</li>
          <li style="font-size: 20px">Hemoglobin</li>
          <li style="font-size: 20px">Haemorrhoids (Piles)</li>
          <li style="font-size: 20px">Iodine Disorder</li>
          <li style="font-size: 20px">Migraine</li>
          <li style="font-size: 20px">Obesity</li>
          <li style="font-size: 20px">PCOS (Poly Cystic Ovarian Syndrome)</li>
          <li style="font-size: 20px">Pellagra</li>
          <li style="font-size: 20px">Prostrate</li>
          <li style="font-size: 20px">Sciatica</li>
          <li style="font-size: 20px">Spondylitis</li>
          <li style="font-size: 20px">Thyroid</li>
          <li style="font-size: 20px">Uric acid</li>
          <li style="font-size: 20px">Vitamin-D Deficiency</li>
        </ol>
      </div>
    </div>
{% endblock %}