{% extends 'navbar.html' %}
{% load static %}
{% block stylesheet %}
<link href="{% static 'css/exercise1.css' %}" rel="stylesheet">
{% endblock %}

{% block links %}
<li class="nav-link">
	<a href="main_input">Home</a>
</li>
<li class="nav-link">
	<a href="body_output">Body</a>
</li>
<li class="nav-link">
	<a href="food">Food</a>
</li>
<li class="nav-link">
	<a href="exercise">Exercise</a>
</li>
<li class="nav-link">
	<a href="yoga">Yoga</a>
</li>
<li class="nav-link">
	<a href="natal">Natal</a>
</li>
<li class="nav-link">
	<a href="report">Report</a>
</li>
 {% endblock %}

{% block content %}
<form class="container" action="burn_output" method="post">
	{% csrf_token %} 
	<div class="container">
		<div class="navbar">
			<nav class="nav-area" id="nav-area">
				<button type="button" onclick="showStuff(this,'sweat','burn','intense')" class="bt">activity</button>
				<button type="button" onclick="showStuff(this,'burn','sweat','intense')" class="bt">gym</button>
				<button type="button" onclick="showStuff(this,'intense','sweat','burn')" class="bt">hiit</button>
				<button type="submit" class="bt" name="result" id="finalsubmit">result</button>
			</nav>
		</div>
		<div class="containertwo">
			<div id="sweat" class="part">
				<table id="sweattable">
					<thead>
						<th><label class="leftFlow uline text">Activities</label></th>
						<th><label class="rightFlow uline text">Duration</label></th>
					</thead><tbody><tr>
						<td><label class="leftFlow">abbs-exercise</label></td>
						<td><input class="input rightFlow" class="zero" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<td><label class="leftFlow">badminton competative</label></td>
						<td><input class="input rightFlow" class="zero" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<td><label class="leftFlow">badminton leisure</label></td>
						<td><input class="input rightFlow" class="zero" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<td><label class="leftFlow">basketball</label></td>
						<td><input class="input rightFlow" class="zero" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<td><label class="leftFlow">boxing-bag</label></td>
						<td><input class="input rightFlow" class="zero" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<td><label class="leftFlow">boxing-ring</label></td>
						<td><input class="input rightFlow" class="zero" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<th><label class="leftFlow uline">STEPPING :-</label></th>
					</tr><tr>
						<td><label class="leftFlow">stepping duration (minutes)</label></td>
						<td><input class="zero input rightFlow" type="text" placeholder="in minutes"></td>
					</tr><tr>
						<td><label class="leftFlow">steps height (meters)</label></td>
						<td><input class="zero input rightFlow" type="text" placeholder="in meters"></td>
					</tr><tr>
						<td><label class="leftFlow">steps/minute</label></td>
						<td><input class="zero input rightFlow" type="text"></td>
					</tr></tbody>
				</table>
			</div>
			<div id="burn" class="part">
				<div class="inner"><br>
					<h2 class="text uline">Leg Press</h2><br>
					<select  class="radio" name="leg_goal">
						<option disabled="true" selected style="text-align: center;">--Select Goal--</option>
						<option value="1">Endurace and Stability</option>
						<option value="2">Endurance and Strength</option>
						<option value="3">Hypertrophy</option>
						<option value="4">Maximum Strength</option>
						<option value="5">Strength and Power</option>
					</select><br>
					<input type="text" name="leg_weightlift" id="weightlift" placeholder="Weight Lift">
					<input type="text" name="leg_reps" id="reps" placeholder="Repetition">
				</div><br><hr><br>
				<div class="inner">
					<h2 class="text uline">Bench Press</h2><br>
					<select  class="radio" name="bench_goal">
						<option disabled="true" selected style="text-align: center;">--Select Goal--</option>
						<option value="1">Endurace and Stability</option>
						<option value="2">Endurance and Strength</option>
						<option value="3">Hypertrophy</option>
						<option value="4">Maximum Strength</option>
						<option value="5">Strength and Power</option>
					</select><br>
					<input type="text" name="bench_weightlift" id="weightlift" placeholder="Weight Lift">
					<input type="text" name="bench_reps" id="reps" placeholder="Repetition">
				</div><br><hr><br>
				<div class="inner">
					<h2 class="text uline">Curling</h2><br>
					<select  class="radio" name="curl_goal">
						<option disabled="true" selected style="text-align: center;">--Select Goal--</option>
						<option value="1">Endurace and Stability</option>
						<option value="2">Endurance and Strength</option>
						<option value="3">Hypertrophy</option>
						<option value="4">Maximum Strength</option>
						<option value="5">Strength and Power</option>
					</select><br>
					<input type="text" name="curl_weightlift" id="weightlift" placeholder="Weight Lift">
					<input type="text" name="curl_reps" id="reps" placeholder="Repetition">
				</div>
			</div>
			<div id="intense" class="part">
				<nav>
				<table style="min-width:50%" >
					<thead>
						<th><label class="leftFlow text uline">HIIT</label></th>
						<th><label class="rightFlow text uline">Inputs</label></th>
					</thead><tbody><tr>
					<td><label class="leftFlow">Jogging Speed</label></td>
					<td><input class="input rightFlow" type="text" name="jogspeed" placeholder="6.5-7.9 km/hr" id="speed"></td>
					</tr><tr>
					<td><label class="leftFlow">Running Speed</label></td>
					<td><input class="input rightFlow" type="text" name="runspeed" placeholder="above 8 km/hr" id="speed"></td>
					</tr><tr>
					<td><label class="leftFlow">Rise</label></td>
					<td><input class="input rightFlow" type="text" name="rise" placeholder="Rise" id="rise"></td>
					</tr><tr>
					<td><label class="leftFlow">Run</label></td>
					<td><input class="input rightFlow" type="text" name="run" placeholder="Run" id="run"></td>
					</tr><tr>
					<td><label class="leftFlow">Gradient</label></td>
					<td><input class="input nobr rightFlow" id="grad" name="gradient" value="0 Degree" readonly></td>
					</tr><tr>
					<td><label class="leftFlow">Weight</label></td>
					<td><input class="input rightFlow" type="text" name="hitweight" placeholder="Kg" id="weight"></td>
					</tr><tr>
					<td><label class="leftFlow">Time</label></td>
					<td><input class="input rightFlow" type="text" name="time" placeholder="Minutes" id="time"></td>
					</tr><tr>
					<td><label class="leftFlow">Number of Sets</label></td>
					<td><input class="input rightFlow" type="text" name="hitsets" placeholder="Number" id="sets"></td>
					</tr><tr>
					<td><label class="leftFlow">Total Time</label></td>
					<td><input class="input nobr rightFlow" id="totaltime" value="0 Minutes" readonly></td>
					</tr></tbody>
				</table>
				</nav>
			</div>
		</div>
	</div>
</form>
{% endblock %}
{% block script %}
<script type="text/javascript">
	document.getElementsByTagName('div')[0].addEventListener("load", info());
	var btn_cont = document.getElementById('nav-area').children;
	function showStuff(main,id,elem,mine) {
		for (btn in btn_cont){
			if (btn_cont[btn].className === 'bt highlight'){
				btn_cont[btn].classList.remove('highlight');}}
		main.classList.add('highlight');
	    document.getElementById(id).style.display = 'block';
	    document.getElementById(elem).style.display = 'none';
	    document.getElementById(mine).style.display = 'none';
	}
		function info() {
			document.getElementById("totaltime").innerHTML = "0 Minutes";
			document.getElementById("grad").innerHTML = "0 Degree";
			document.getElementsByClassName("bt")[0].click();
			document.getElementsByClassName("bt")[0].className = 'bt highlight';
		}
		var time = document.getElementById("time");
		var sets = document.getElementById("sets");
		time.addEventListener("keyup",myResult);
		sets.addEventListener("keyup",myResult);
		var run = document.getElementById("run");
		var rise = document.getElementById("rise");
		run.addEventListener("keyup",gradientdegree);
		rise.addEventListener("keyup",gradientdegree);
		function myResult(){
		var timevalue = time.value;
		var setsvalue = sets.value;
		var output = timevalue * 2 * setsvalue;
		document.getElementById("totaltime").value= output+" minutes"; 
		}
		function gradientdegree(){
		var runvalue = run.value;
		var risevalue = rise.value;
		var output = runvalue / risevalue;
		let out = Math.round(output)
		document.getElementById("grad").value= out+" degree"; 
		}
</script>
{% endblock %}