{% extends 'navbar.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block links %}
<li class="nav-link active">
	<a href="main_input">Home</a>
</li>
<li class="nav-link">
	<a href="body_output">Body</a>
</li>
<li class="nav-link">
	<a href="food">Food</a>
</li>
<li class="nav-link">
	<a href="exercise">Exercise</a>
</li>
<li class="nav-link">
	<a href="yoga">Yoga</a>
</li>
<li class="nav-link">
	<a href="natal">Natal</a>
</li>
<li class="nav-link">
	<a href="report">Report</a>
</li>
{% endblock %}

{% block content %}
	<div class="cards">
        <a href="body_output"><div class="card card1">
            <div class="container">
                <img src="static/images/photo.png" alt="photo">
            </div>
            <div class="details">
                <h3>BODY</h3>
            </div>
        </div></a>
        <a href="food"><div class="card card2">
            <div class="container">
                <img src="static/images/photo.png" alt="New York">
            </div>
            <div class="details">
                <h3>FOOD</h3>
            </div>
        </div>
        <a href="exercise"><div class="card card3">
            <div class="container">
                <img src="static/images/photo.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>EXERCISE</h3>
            </div>
        </div>
        <a href="yoga"><div class="card card1">
            <div class="container">
                <img src="static/images/photo.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>YOGA</h3>
            </div>
        </div>
        <a href="natal"><div class="card card2">
            <div class="container">
                <img src="static/images/photo.png" alt="New York">
            </div>
            <div class="details">
                <h3>NATAL</h3>
            </div>
        </div>
        <a href="report"><div class="card card3">
            <div class="container">
                <img src="static/images/photo.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>REPORT</h3>
            </div>
        </div>
    </div>
{% endblock %}
