{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="{% static 'css/home.css' %}">
	<title>Home Page</title>
</head>
<body>
	<div class="cards">
        <a href="body_output"><div class="card card1">
            <div class="container">
                <img src="static/images/photo.png" alt="photo">
            </div>
            <div class="details">
                <h3>BODY</h3>
            </div>
        </div></a>
        <a href="food"><div class="card card2">
            <div class="container">
                <img src="static/images/photo.png" alt="New York">
            </div>
            <div class="details">
                <h3>FOOD</h3>
            </div>
        </div>
        <a href="exercise"><div class="card card3">
            <div class="container">
                <img src="static/images/photo.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>EXERCISE</h3>
            </div>
        </div>
        <a href="yoga"><div class="card card1">
            <div class="container">
                <img src="static/images/photo.png" alt="las vegas">
            </div>
            <div class="details">
                <h3>YOGA</h3>
            </div>
        </div>
        <a href="natal"><div class="card card2">
            <div class="container">
                <img src="static/images/photo.png" alt="New York">
            </div>
            <div class="details">
                <h3>NATAL</h3>
            </div>
        </div>
        <a href="more"><div class="card card3">
            <div class="container">
                <img src="static/images/photo.png" alt="Singapore">
            </div>
            <div class="details">
                <h3>REPORT</h3>
            </div>
        </div>
    </div>
</body>
</html>