{% extends 'navbar.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}">
<style>
	*{
		box-sizing: border-box;
	}
</style>
{% endblock %}
{% block content %}
<form action="main_input" methods="POST">
<div class="container">
	<div class="box">
		<nav><a>LOGIN</a></nav>
		<input type="username" name="username" placeholder="username">
		<input type="password" name="password" placeholder="password">
		<a href="#">Forget Password?</a><br>	
		
		<input type="submit" name="submit" id="submit">
		<label>Not a member? <a href="#">Sign-Up now</a></label>
	</div>
</div>
</form>
{% endblock %}