{% extends 'navbar.html' %}
{% load static %}
{% block stylesheet %}
<link rel="stylesheet" href="{% static 'css/disease.css' %}">
{% endblock %}
{% block links %}
<li class="nav-link">
	<a href="main_input">Home</a>
</li>
<li class="nav-link">
	<a href="body_output">Body</a>
</li>
<li class="nav-link">
	<a href="food">Food</a>
</li>
<li class="nav-link">
	<a href="exercise">Exercise</a>
</li>
<li class="nav-link">
	<a href="yoga">Yoga</a>
</li>
<li class="nav-link">
	<a href="natal">Natal</a>
</li>
<li class="nav-link">
	<a href="report">Report</a>
</li>
{% endblock %}
{% block content %}
    <div id="disease">
      <div id="header">SELECT</div>
      <div class="ol">
        <ol>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Head
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Ears
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Eyes
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Vocal
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Respiratory
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Digestive
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Excretory
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Circulatory
          </li>
          <li onclick="showStuff('div1',this.parentNode.parentNode.parentNode)">
            Muscles
          </li>
          <li
            onclick="showStuff('div1',this.parentNode.parentNode.parentNode)"
          >
            Skeletal
          </li>
          <li
            onclick="showStuff('div1',this.parentNode.parentNode.parentNode)"
          >
            Suksham & Sthula Vyayam for Brain
          </li>
        </ol>
      </div>
    </div>
    <div class="div" id="div1">
      <div class="a">
        <a
          style="font-size: 30px"
          onclick="hide('disease',this.parentNode.parentNode)"
          >&#129044;</a
        >
        <h2>Head</h2>
      </div>
      <div class="paragraph">
        <table>
          <tr>
            <td>
              <b>Crown Center Breathing: </b><br />
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, id,
              dolor laborum ratione eaque dolorem similique hic rem repellat
              accusamus possimus vitae temporibus quas praesentium in sapiente
              fugit. Tempore, doloremque. <br /><br />
              <b>Pranic Energy rotation: </b><br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae dolorem, saepe natus ullam minus error dolores fugiat
              nesciunt fuga, ea modi beatae officiis. Magni, voluptatem quidem
              assumenda nesciunt aspernatur a.<br /><br />
              <b>Lotus Blooming: </b><br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
              nesciunt ullam adipisci nisi quaerat unde repellat vitae veritatis
              hic. Delectus neque deleniti inventore aspernatur fugit et placeat
              expedita consequuntur provident.<br /><br />
              <b>Nabh-Mudra :</b><br />
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. A, esse
              voluptatibus in maxime aliquid omnis numquam magnam deserunt nihil
              rerum ipsam laudantium, nam ex, porro dolore eaque voluptatum
              voluptates libero?
              <br /><br />
              <b>Rekha Gati:</b><br />
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores modi rerum quibusdam autem reprehenderit dolorum, eius
              eum quam mollitia voluptas perferendis cupiditate repellendus
              totam ipsum. Similique numquam cum animi tempore!
            </td>
          </tr>
        </table>
      </div>
    </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
  function showStuff(id,elem) {
    document.getElementById(id).style.display = 'block';
  elem.style.display = 'none';
  }
  function hide(id,mine) {
    document.getElementById(id).style.display = 'block';
    mine.style.display = 'none';
  }
  </script>
{% endblock %}
