{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>drop down</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/terms.css' %}"
    />
  </head>
  <body>
    <form method="post" action="price">
      {% csrf_token %}
      <div class="text">
        <h2>DISCLAIMER AGREEMENT</h2>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore aut
          similique modi facere impedit aliquam magni a obcaecati suscipit,
          omnis odio accusantium itaque libero, tempora placeat velit!
          Necessitatibus, ut recusandae.
        </p>
      </div>
      <div>
        <br />
        <label class="radio" for="terms"
          ><input type="submit" name="terms" id="terms" />I agree with terms and
          conditions<span></span
        ></label>
      </div>
    </form>
  </body>
</html>
