{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>upnishdik-gems</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="{% static 'css/disease2.css' %}" />
    <script type="text/javascript">
      function show(id, elem) {
        document.getElementById(id).style.display = "block";
        elem.style.display = "none";
      }
      function hide(id, mine) {
        document.getElementById(id).style.display = "block";
        mine.style.display = "none";
      }
    </script>
    <style type="text/css">
      table,
      th,
      td {
        border: 1px solid black;
        margin: auto;
        border-collapse: collapse;
        padding: 0 5px;
      }
    </style>
  </head>
  <body>
    <div id="disease">
      <div id="header">SELECT</div>
      <div class="ol">
        <ol>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div1',this.parentNode.parentNode.parentNode)"
          >
            Shandilyopnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div2',this.parentNode.parentNode.parentNode)"
          >
            Kaushteek Brahmanopnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div3',this.parentNode.parentNode.parentNode)"
          >
            Tri Shikh Brahmano Upnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div4',this.parentNode.parentNode.parentNode)"
          >
            Akshmalika Upnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div5',this.parentNode.parentNode.parentNode)"
          >
            Vajrasuchikopnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div6',this.parentNode.parentNode.parentNode)"
          >
            Chandogya Upnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div7',this.parentNode.parentNode.parentNode)"
          >
            Advait Tarak Upnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div8',this.parentNode.parentNode.parentNode)"
          >
            Hansopnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div9',this.parentNode.parentNode.parentNode)"
          >
            Subalopnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div10',this.parentNode.parentNode.parentNode)"
          >
            Panch-Brahmopnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div11',this.parentNode.parentNode.parentNode)"
          >
            Kshurikopnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div12',this.parentNode.parentNode.parentNode)"
          >
            Akshyopnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div13',this.parentNode.parentNode.parentNode)"
          >
            Pranvopnishad
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div14',this.parentNode.parentNode.parentNode)"
          >
            Amritnadopnishad-Part 2
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div15',this.parentNode.parentNode.parentNode)"
          >
            Yograjopnishat
          </li>
          <li
            style="color: #00ffff; font-size: 20px"
            onclick="show('div16',this.parentNode.parentNode.parentNode)"
          >
            Garbhopnishad(Garbh means womb)
          </li>
        </ol>
      </div>
    </div>
    <div class="div" id="div1">
      <div class="a">
        <a
          style="font-size: 30px"
          onclick="hide('disease',this.parentNode.parentNode)"
          >&#129044;</a
        >
        <h2>SHANDILYOPNISHAD</h2>
      </div>
      <div class="paragraph">
        As per Shandilyoupnishat, the effects of Dharana (concentration) at
        various places in our body is quite an interesting read. It is given
        here below for all readers knowledge and practice:<br /><br />
        <table>
          <tr>
            <th>Place of Concentration</th>
            <th>Effect</th>
          </tr>
          <tr>
            <td>Nose tip</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae iste sequi quo, nulla facere corporis iusto numquam
              sunt possimus ipsam. Error, ipsum repudiandae ducimus nisi
              eligendi suscipit hic aut iusto!.
            </td>
          </tr>
          <tr>
            <td>And on the lower part</td>
            <td>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque et
              fugiat ratione enim quibusdam qui quaerat. Dicta laboriosam fuga
              velit consequuntur? Omnis esse, magnam nam alias eaque illum.
              Distinctio, magni!
            </td>
          </tr>
          <tr>
            <td>Concentrating chit on the eye ball.</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi
              optio ratione dolores iste hic, perspiciatis magni rem ullam ad
              architecto nostrum voluptatem provident minus possimus, tenetur
              similique eveniet, vero impedit!
            </td>
          </tr>
          <tr>
            <td>Concentrating chitin the ears.</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
              ex qui, officia eius veniam laboriosam vero. Nulla, velit harum
              praesentium natus ipsa quisquam ad eius voluptate quaerat quae
              veritatis quod.
            </td>
          </tr>
          <tr>
            <td>On armpits</td>
            <td>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem
              recusandae animi fugit nisi vero omnis! Doloribus odit, possimus
              pariatur tempora aut molestiae? Vel earum repellendus rerum quis
              ipsam omnis cum.
            </td>
          </tr>
          <tr>
            <td>On lower partof back.</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
              aperiam nostrum eveniet quaerat quidem vero architecto dignissimos
              quisquam ad labore quo delectus porro praesentium eaque eum, id
              quod. Consequuntur, numquam!
            </td>
          </tr>
          <tr>
            <td>On upper part of back</td>
            <td>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis
              ratione quasi quas autem ducimus tenetur atque saepe, minima enim.
              Cum a sint aperiam cumque quae placeat minima consequatur facere
              itaque.
            </td>
          </tr>
          <tr>
            <td>On Neck</td>
          </tr>
          <tr>
            <td>On Left eye</td>
          </tr>
          <tr>
            <td>On forehead</td>
          </tr>
        </table>
        <br />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque commodi
        iusto iste minima. Hic, deleniti odio? Dolor perspiciatis iure minima
        delectus vero quaerat nostrum facilis labore incidunt blanditiis. Ea,
        ab?
      </div>
    </div>
  </body>
</html>
