{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>yoga</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/yoga.css' %}" />
</head>
<body>
	<div class="blog">
		<h2>YOGIC DETAILS</h2>
	<a href="{% url 'disease' %}"><div class="desease"><p>DISEASE-WISE</p></div></a>
	<a href="{% url 'yog_nidra' %}"><div class="meditation"><p>YOG-NIDRA</p></div></a>
	<a href="{% url 'system_wise' %}"><div class="body"><p>SYSTEM-WISE</p></div></a>
	<a href="{% url 'kriya' %}"><div class="asan"><p>ASAN, PRANAYAM & KRIYA</p></div></a>	
	<a href="{% url 'upnishdic' %}"><div class="asan"><p>UPNISHDIC GEMS</p></div></a>	
	</div>
</body>
</html>